.login{
    width: 100%;
    position:fixed;
    background-color: rgba(76, 154, 184, 0.5);
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 100%;
    text-align: center;
}

.user, .password{
    font-size: 200%;
}

.user{
    width:37%;
}

.password{
    width: 40%;
}

.user:invalid+span:after {
    content: '✖';
    padding-left: 5px;
    font-size: 200%;
    
}
  
.user:valid+span:after {
    content: '✓';
    padding-left: 5px;
    font-size: 200%;
}

.validity{
    transform:translateX(-10px)
}

.login button{
    font-size: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 40%;
    background-color: #ffffff;
    border: 3px #4C9ab8 solid;
    border-radius: 8px;
    margin: 6vw;
    transition: all .2s ease-in-out;
}


.login button:hover{
    background-color: #034761;
    color: #ffffff;
    border: 3px #4C9ab8 solid;
}

.divButton{
    text-align: center;
}